---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { rows as empresas } from "../../components/Empresas.js";

import { tursodb } from "../../../astro.config.mjs";

const { rows } = await tursodb.execute("SELECT * FROM empresa;");
---

<Layout title="Lista de empresas">
    <Header />
    <div class="flex justify-between w-full px-5 py-2 h-fit">
        <h2>Listado de empresas</h2>
        <div class="flex gap-4">
            <input
                class="bg-gray-700 border border-gray-300 text-white text-sm rounded-lg p-1.5"
                type="text"
                placeholder="Nombre de la empresa"
            />
            <button
                class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-xs px-2 py-2 transition-colors"
                >Buscar</button
            >
            <button
                id="btnnew"
                class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-xs px-2 py-2 transition-colors"
                >Nueva empresa</button
            >
        </div>
    </div>
    <main class="px-20 py-5">
        <div
            class="max-h-[68vh] overflow-y-auto bg-transparent shadow-md rounded-lg"
        >
            <table class="min-w-full bg-white overflow-y-auto">
                <thead class="bg-gray-100">
                    <tr class="border-b-2 border-black border-solid">
                        <th
                            class="px-4 py-3 text-left text-sm font-semibold text-gray-600"
                            >Nombre</th
                        >
                        <th
                            class="px-4 py-3 text-left text-sm font-semibold text-gray-600"
                            >Nombre Oficial</th
                        >
                        <th
                            class="px-4 py-3 text-left text-sm font-semibold text-gray-600"
                            >Dirección</th
                        >
                        <th
                            class="px-4 py-3 text-left text-sm font-semibold text-gray-600"
                            >Sitio Web</th
                        >
                        <th
                            class="px-4 py-3 text-center text-sm font-semibold text-gray-600"
                            >Acciones</th
                        >
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    {
                        rows.map((empresa) => (
                            <tr class="hover:bg-gray-50">
                                <td class="px-4 py-3 text-sm text-gray-900">
                                    {empresa.nombre}
                                </td>
                                <td class="px-4 py-3 text-sm text-gray-900">
                                    {empresa.nombre_oficial}
                                </td>
                                <td class="px-4 py-3 text-sm text-gray-500">
                                    {empresa.direccion}
                                </td>
                                <td class="px-4 py-3 text-sm text-blue-500 hover:underline">
                                    <a
                                        href={`https://${empresa.sitio_web}`}
                                        target="_blank"
                                        rel="noopener noreferrer"
                                    >
                                        {empresa.sitio_web}
                                    </a>
                                </td>
                                <td class="px-4 py-3 text-sm text-right">
                                    <div class="flex justify-center space-x-2">
                                        <button class="bg-blue-500 hover:bg-blue-600 text-white rounded px-3 py-1 transition-colors duration-300">
                                            Editar
                                        </button>
                                        <a
                                        href=`/empresa/${empresa.empresa_id}`
                                        class="bg-gray-500 hover:bg-gray-600 text-white rounded px-3 py-1 transition-colors duration-300">
                                            Detalles
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        ))
                    }
                </tbody>
            </table>
        </div>
    </main>
    <Footer />
</Layout>
<script>
    document.getElementById("btnnew").addEventListener("click", () => {
        window.location.href = "/nuevaempresa";
    });
</script>
